src/main/resources/phonebook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hugo.hu/phonebook" targetNamespace="http://hugo.hu/phonebook">
	<xs:complexType name="PhoneBook">
	   <xs:sequence>
	       <xs:element name="firstname" type="xs:string"/>
	       <xs:element name="lastname" type="xs:string"/>
	       <xs:element name="phonenumber" type="xs:string"/>
	   </xs:sequence>    
	</xs:complexType>
</xs:schema>

