src/main/resources/phonebook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hugo.hu/phonebook" targetNamespace="http://hugo.hu/phonebook">
	<xs:complexType name="NumberList">
        <xs:sequence>
            <xs:element name="number" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
    </xs:complexType>
	
	
	<xs:complexType name="PhoneBook">
	   
	   <xs:sequence>
	       <xs:element name="firstname" type="xs:string"/>
	       <xs:element name="lastname" type="xs:string"/>
	       <xs:element name="phonenumbers" type="xs:string" maxOccurs="unbounded"/>
	   </xs:sequence>    
	</xs:complexType>
</xs:schema>

